<div id="capa">
  <div class="contenedor-flex-ventana-confirmacion">
    <div class="ventana-mensaje">
      <div class="title">Gracias por tu mensaje, será enviado ahora mismo!
        <p class="title2">Al finalizar se te redirigirá al inicio del sitio</p>
      </div>
    </div>
  </div>
</div>