<footer class="footer">
    <div>
      <h6>© 2022 - Powered by: </h6>
    </div>
    <div class="img"> <img src="/images/logoPR.png" alt=""></div>
    <div>
      <h6>Ramiro C. Pezzone</h6>
    </div>
  </footer>
