<head>
  <!-- Meta tags -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Ramiro C. Pezzone">

  <!-- og's Meta -->
  <meta property="og:title" content="Ramiro Pezzone - Desarrollador Web Full Stack Jr" />
  <meta property="og:description" content="Presentación al mundo de Ramiro Pezzone como Desarrollador Web" />
  <meta property="og:url" content="https://portfolio-ramiro-pezzone.herokuapp.com/">
  <meta name="image" property="og:image" content="https://res.cloudinary.com/ramiropezzone/image/upload/v1650749790/vista-min-sitio-web_cwy2yk.png">
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="600" />

  <!-- Hojas de estilo -->
  <link rel="stylesheet" href="/css/style.css">
  <!-- CDN de Swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;500&display=swap" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/icono-logoPR.ico" type="image/x-icon">

  <!-- Title -->
  <title>Portfolio Ramiro C. Pezzone</title>

</head>