<header class="contenedor-foto-perfil">
    <div class="contenedor-presentacion-header">
      <div class="contenedor-saludo">
        <h1>HELLO I'M <span class="saludo-nombre">RAMIRO PEZZONE</span></h1>
      </div> 
      <div class="contenedor-titulo">
        <h3>FULL STACK WEB DEVELOPER <span class="junior">JUNIOR</span></h3>
      </div>
    </div>
  </header>
