<div class="contenedor-navbar">
  <div class="contenedor-logo-navbar">
    <a href="#">
      <div class="logo-navbar"></div>
    </a>
  </div>
  <div class="contenedor-menu-hamburguesa">
    <div class="menu-hamburguesa"></div>
    <div class="menu-hamburguesa-x"></div>
  </div>
</div>

<div class="nav-bar-oculto">
  <div class="contenedor-navbar-oculto">
    <ul>
      <li><a href="#aboutme">Acerca de mí</a></li>
      <li><a href="#techs">Habilidades</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li><a href="#rrss">Vínculos de interés</a></li>
      <li class="li-container-btn-descargar">
        <div class="container-btn-descargar-sm">
          <a class="btn-navbar-sm" href="/docs/CV Ramiro C Pezzone - Desarrollador Web Full Stack Jr.pdf" download="CV Ramiro Pezzone - Desarrollador web full stack Jr.pdf">Descargar CV en PDF</a>
        </div>
      </li>
    </ul>
  </div>
</div>