<div class="navbar-lg">
  <div class="contenedor-navbar-fixed">
    <div class="img-navbar-fixed">
      <a href="#">
        <div class="imgLogoNavbar"></div>
      </a>
    </div>
    <div class="contenedor-navbar-flex">
      <a href="#aboutme">
        <div class="link-navbar-fixed">
          <div class="backgroundHover"></div>
          <span class="marker">-</span> Acerca de mí
        </div>
      </a>
      <div class="linea-divisora-navbar"></div>
      <a href="#techs">
        <div class="link-navbar-fixed">
          <div class="backgroundHover"></div>
          <span class="marker">-</span> Habilidades
        </div>
      </a>
      <div class="linea-divisora-navbar"></div>
      <a href="#portfolio">
        <div class="link-navbar-fixed">
          <div class="backgroundHover"></div>
          <span class="marker">-</span> Portfolio
        </div>
      </a>
      <div class="linea-divisora-navbar"></div>
      <a href="#contacto">
        <div class="link-navbar-fixed">
          <div class="backgroundHover"></div>
          <span class="marker">-</span> Contacto
        </div>
      </a>
      <div class="linea-divisora-navbar"></div>
      <a href="#rrss">
        <div class="link-navbar-fixed">
          <div class="backgroundHover"></div>
          <span class="marker">-</span> Vínculos de interés
        </div>
      </a>
      <div class="linea-divisora-final"></div>
      <a class="link-navbar-fixed btn-descargar-cv" href="/docs/CV Ramiro C Pezzone - Desarrollador Web Full Stack Jr.pdf" download="CV Ramiro Pezzone - Desarrollador web full stack Jr.pdf">
        Descargar CV en PDF
      </a>
    </div>

  </div>
</div>