<div class="navbar-lg">
    <div class="contenedor-navbar-fixed">
      <div class="img-navbar-fixed">
        <a href="#"><img src="/images/logoPR-largo.png" alt=""></a>
      </div>
      <div class="contenedor-navbar-flex">
        <a href="#aboutme">
          <div class="link-navbar-fixed">
            <span class="marker">-</span> Acerca de mí
          </div>
        </a>
        <div class="linea-divisora-navbar"></div>
        <a href="#techs">
          <div class="link-navbar-fixed">
            <span class="marker">-</span> Habilidades
          </div>
        </a>
        <div class="linea-divisora-navbar"></div>
        <a href="#portfolio">
          <div class="link-navbar-fixed">
            <span class="marker">-</span> Portfolio
          </div>
        </a>
        <div class="linea-divisora-navbar"></div>
        <a href="#contacto">
          <div class="link-navbar-fixed">
            <span class="marker">-</span> Contacto
          </div>
        </a>
        <div class="linea-divisora-navbar"></div>
        <a href="#rrss">
          <div class="link-navbar-fixed">
            <span class="marker">-</span> Vínculos de interés
          </div>
        </a>
      </div>
    </div>
  </div>
