<div class="contenedor-navbar">
    <div class="contenedor-logo-navbar">
      <a href="#">
        <div class="logo-navbar"></div>
      </a>
    </div>
    <div class="contenedor-menu-hamburguesa">
      <div class="menu-hamburguesa"></div>
      <div class="menu-hamburguesa-x"></div>
    </div>
  </div>

  <div class="nav-bar-oculto">
    <div class="contenedor-navbar-oculto">
      <ul>
        <li><a href="#aboutme">Acerca de mí</a></li>
        <li><a href="#techs">Habilidades</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="#rrss">Vínculos de interés</a></li>
      </ul>
    </div>
  </div>
