<section class="contacto">
  <h2 class="titulo-section">Contacto</h2>

  <div class="contenedor-iconos-contacto">
    <div class="opcion-de-contacto">
      <div class="ico">
        <a href="tel: +54 9 342 4 21-9046">
          <img src="/images/icono-llamada-inactive.png" alt="" class="llamame">
        </a>
      </div>
      <div class="action">
        <p>Llamame</p>
      </div>
    </div>
    <div class="opcion-de-contacto">
      <div class="ico">
        <a href="https://wa.link/tvsz7k" target="_blank" rel="noopener noreferrer">
          <img src="/images/icono-whatsapp-inactive.png" alt="" class="whatsappeame">
        </a>
      </div>
      <div class="action">
        <p>Enviame whatsapp</p>
      </div>
    </div>
  </div>

  <h3 class="aclaracion-inicial">O bien dejame tus datos y a la brevedad me pongo en contacto</h3>
  <div class="contenedor-form-contacto">

    <form method="post" action="/contacto" class="form-contacto" id="form-de-contacto">

      <div class="item-form">
        <label for="nombre">
          Nombre completo <span class="required">*</span>
        </label>
        <div class="input-form input-name">
          <input type="text" name="nombre" id="nombre" autocomplete="name" placeholder="*Tu nombre">
          <div class="containerTextoValidacionName">
            <p>Por favor, ingresa tu nombre</p>
          </div>
        </div>
      </div>

      <div class="item-form">
        <label for="tel">
          Teléfono <span class="required">*</span>
        </label>
        <div class="input-form">
          <input type="number" name="tel" id="tel" autocomplete="tel" placeholder="*Tu número telefónico">
          <div class="containerTextoValidacionTel">
            <p>Por favor, ingresa un número válido (Deben ser solo números, no debe contener guiones y al menos debe tener 9 dígitos)</p>
          </div>
        </div>
      </div>

      <div class="item-form">
        <label for="email">
          Correo electrónico <span class="required">*</span>
        </label>
        <div class="input-form">
          <input type="email" name="email" id="email" autocomplete="email" placeholder="*Tu email">
          <div class="containerTextoValidacionEmail">
            <p>Por favor, ingresa correo electrónico válido</p>
          </div>

        </div>
      </div>

      <div class="item-form">
        <label for="company">
          Compañía
        </label>
        <div class="input-form">
          <input type="text" name="company" id="" autocomplete="organization" placeholder="Tu compañía (si corresponde)">
        </div>
      </div>

      <div class="item-form">
        <label for="mensaje">
          Motivo del mensaje
        </label>
        <div class="input-form">
          <textarea name="mensaje" id="" cols="30" rows="7" placeholder="Tu mensaje"></textarea>
        </div>
      </div>

      <div class="btns-form">
        <button class="btnEnviar" id="btn-enviar">
          <div class="svg-wrapper-1">
            <div class="svg-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
              </svg>
            </div>
          </div>
          <span>Enviar</span>
        </button>
      </div>

    </form>
  </div>
</section>