<section class="contenedor-about-me">
  <div class="about-me">
    <h2 class="titulo-section">ACERCA DE MI</h2>
    <div class="contenedor-flex-about-me">
      <p class="presentacion-1">Hola, mi nombre es Ramiro Carlos Pezzone, tengo 37 años y actualmente estoy residiendo en Argentina. Soy Desarrollador Web Full Stack. Mi
        formación comenzó de manera autodidacta <span class="bolder">e intensa</span> desde principios del año '21, a la cual sumé una formación de Desarrollador Web Full Stack impartido por la <a href="https://www.baeducacionejecutiva.com.ar/" target="_blank" rel="noopener noreferrer">BA
          Coding School</a>. En la misma aprendimos la realización de aplicaciones con el stack MERN (MongoDB, Express, React y Nodejs). </p>

      <div class="linea-divisora"></div>

      <div class="about-me-2">
        <div class="contenedor-presentacion-2">
          <p class="presentacion-2">Todo comenzó con la inocente intención de desarrollar sitios y app's web para uso
            personal por ideas propias a las que quería darles vida, pero en cuanto comencé me di cuenta de cuanto me
            apasiona el desarrollo, tanto por su característica de tener que estar siempre superando algún obstáculo
            como por la inherente necesidad de tener que mantenerse siempre al día con las tecnologías.</p>
        </div>
      </div>
    </div>
</section>