<section class="rrss">
    <h2 class="titulo-section-vinculos">Vínculos de interés</h2>

    <div class="contenedor-logos-rrss">
      <a href="https://www.facebook.com/ramiro.pezzone/" target="_blank" rel="noopener noreferrer">
        <div class="logo-facebook logo-rrss"></div>
      </a>
      <a href="https://github.com/ramiroPezzone" target="_blank" rel="noopener noreferrer">
        <div class="logo-github logo-rrss"></div>
      </a>
      <a href="https://www.linkedin.com/in/ramiro-c-pezzone-desarrollador-web/" target="_blank" rel="noopener noreferrer">
        <div class="logo-linkedin logo-rrss"></div>
      </a>
      <a href="https://www.instagram.com/rami_pezzone/?hl=es" target="_blank" rel="noopener noreferrer">
        <div class="logo-instagram logo-rrss"></div>
      </a>
    </div>
    <div class="contenedor-logo-rp-rrss">
      <div class="logo-rp-rrss"></div>
    </div>
  </section>
