:root {
  --josefin-sans: "Josefin Sans", sans-serif;
  --montserrat-clasic: "Montserrat", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  --montserrat-alternates: "Montserrat Alternates", sans-serif;
  --white-blur: hsla(0, 0%, 100%, 0.85);
  --deep-space-sparkle: hsla(193, 34%, 30%, 1);
  --dark-purple: hsla(251, 52%, 13%, 1);
  --emerald: hsla(149, 89%, 43%, 1);
  --flame: hsla(16, 72%, 53%, 1);
  --silver-metallic: #aea9b7;
  --silver-metallic-faded: rgba(174, 169, 183, 0.1);
  --atomic-tangerine: hsla(24, 91%, 67%, 1);
  --atomic-tangerine-faded: hsla(24, 91%, 67%, 0.5);
  --smoky-black: hsla(23, 100%, 3%, 1);
  --smoky-black-faded: hsla(23, 100%, 3%, 0.8);
  --gris-claro: hsla(204, 8%, 90%, 1);
  --yellow-minion: hsla(50, 100%, 68%, 1);
  --fondo-foto: #e2bd65;

  /* Dark theme colors */
  --background-dark: #1f1f1f;
  --background-dark-faded: rgba(31, 31, 31, 0.8);
  --font-dark: #bfbfbf;
  --orange-dark: #e0612e;
  --background-hover-dark: #664b00;
  --marker-dark: #e6ad99;
  --BG-element-dark: #2f3437;
  --btn-dark: #665f72;
  --border-btn-dark: #616161;
}
body {
  transition: 0.3s;
}
.bodyDark {
  background-color: var(--background-dark);
  transition: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--montserrat-clasic);
}
*::selection {
  background-color: var(--atomic-tangerine);
}

/* Para ocultar las flechas del input tipo number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
/*  */
/* BTN DARK MODE */
/* From uiverse.io by @satyamchaudharydev */
/* The switch - the box around the slider */
.switch {
  /* --moon-mask: ; */
  position: fixed;
  top: 86px;
  right: 31px;
  z-index: 200000;
  font-size: 17px;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
  box-shadow: 0 0 6px var(--atomic-tangerine);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}
/* FIN BTN DARK MODE */
.contenedor-grid {
  max-width: 1200px;
  margin: 0 auto;
}
.imagen-miniatura {
  width: 100%;
  display: none;
}

/* Ventana confirmación de envío de mensaje */
#capa {
  display: none;
  position: fixed;
  top: 0;
  z-index: 500000;
  margin: auto;
  width: 100%;
  height: 100%;
  background: var(--atomic-tangerine-faded);
  backdrop-filter: blur(5px);
}

.contenedor-flex-ventana-confirmacion {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#capa > div:first-child {
  width: 350px;
  border-radius: 0 15px;
  padding: 5px;
  font-family: var(--montserrat-alternates);
  /* background-color: var(-); */
  color: var(--smoky-black);
}

.title {
  border-radius: 0 20px;
  background-color: var(--flame);
  color: gainsboro;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}
.title2 {
  font-size: 0.9em;
  margin: 5px 0;
}

.text {
  text-align: left;
  padding: 10px;
}

.buttons {
  text-align: right;
  padding: 5px 10px;
}
.ver-detalles {
  width: 45px;
  height: 45px;
  background: url("../images/ver-detalles.png") no-repeat center;
  background-size: 100%;
  cursor: pointer;
}
.ver-detalles-dark {
  background: url("../images/ver-detalles-dark.png") no-repeat center;
  background-size: 100%;
}
.containerImgDemoResponsiveDetalles {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.containerImgDemoResponsiveDetalles img {
  width: 100%;
  max-width: 500px;
}

.button {
  padding: 7px 12px;
  font-family: var(--montserrat-alternates);
  border: 1px solid var(--deep-space-sparkle);
}

.separador-secciones {
  width: 100%;
  height: 70px;
}

.junior {
  font-family: var(--montserrat-alternates);
  color: var(--yellow-minion);
}

.italic {
  font-style: italic;
}

.bolder {
  font-weight: bolder;
}
.required {
  color: var(--flame);
}

.linea-divisora {
  height: 2px;
  width: 90%;
  background: linear-gradient(to right, #fff0, var(--smoky-black), #fff0);
  margin: 30px auto;
}

.navbar-lg {
  display: none;
}

.contenedor-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  background-color: var(--white-blur);
  backdrop-filter: blur(10px);
  z-index: 400000;
}

.logo-navbar {
  background: url(/images/logoPR-largo.png) no-repeat center;
  height: 70px;
  width: 180px;
  background-size: 180px;
  margin-left: 10px;
}

.contenedor-menu-hamburguesa {
  position: relative;
  width: 70px;
  height: 70px;
}

.menu-hamburguesa {
  background: url(/images/menu-hamburguesa-flecha-abajo2.png) no-repeat center;
  margin: 0 auto;
  line-height: 70px;
  width: 70px;
  height: 70px;
  background-size: 45px;
  position: absolute;
  transition: 0.7s;
}

.menu-hamburguesa-oculto {
  background-size: 0;
  transition: 0.7s;
}

.menu-hamburguesa-x {
  background: url(/images/menu-hamburguesa-x2.png) no-repeat center;
  position: absolute;
  line-height: 70px;
  width: 70px;
  height: 70px;
  background-size: 0px;
  transition: 0.7s;
  transform: rotate(360deg);
}

.menu-hamburguesa-x-revelado {
  background-size: 50px;
  transition: 0.7s;
}

.nav-bar-oculto {
  position: fixed;
  top: -100vh;
  width: 100vw;
  height: calc(100vh - 70px);
  background-color: var(--white-blur);
  backdrop-filter: blur(8px);
  z-index: 300000;
  transition: 0.5s;
}

.nav-bar-oculto-revelado {
  top: 70px;
  z-index: 300000;
  transition: 0.7s;
}

.nav-bar-oculto ul {
  margin-top: 0;
  margin-left: 10vw;
  display: flex;
  flex-flow: column nowrap;
  height: calc(85vh - 70px);
  justify-content: space-evenly;
}

.nav-bar-oculto li {
  list-style: none;
}

.nav-bar-oculto a {
  text-decoration: none;
  font-family: var(--montserrat-alternates);
  font-size: 2em;
  color: var(--smoky-black);
}

/* ABOUT ME */
.contenedor-foto-perfil {
  display: flex;
  flex-direction: column;
  background: url(/images/foto-ramiro.png) no-repeat center;
  width: 100%;
  height: calc(100vh - 70px);
  background-size: cover;
  margin-top: 70px;
  transition: 0.3s;
}

.contenedor-presentacion-header {
  margin: 45vh auto;
  max-width: 360px;
}

.contenedor-saludo {
  width: min-content;
  color: var(--atomic-tangerine);
  text-shadow: 2px 2px 4px var(--smoky-black), -2px -2px 4px var(--smoky-black),
    -2px 2px 4px var(--smoky-black), 2px -2px 4px var(--smoky-black);
}

.contenedor-saludo h1 {
  margin: 0 auto;
}

.saludo-nombre {
  display: block;
  font-family: var(--josefin-sans);
  text-transform: uppercase;
  font-size: 1.5em;
}

.contenedor-titulo {
  position: relative;
  padding: 1px 10px;
  background-color: var(--smoky-black);
  width: 100%;
  max-width: max-content;
}

.contenedor-titulo h3 {
  text-align: center;
  color: var(--atomic-tangerine);
  font-family: var(--montserrat-clasic);
  font-weight: 300;
  font-size: 0.9em;
}

.about-me,
.about-me-2,
.contenedor-skills,
.contenedor-general-skills,
.portfolio {
  padding: 0 20px;
}

.titulo-section {
  font-family: var(--josefin-sans);
  text-transform: uppercase;
  text-align: center;
}

.titulo-section-vinculos {
  font-family: var(--josefin-sans);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

h2 {
  font-weight: 800;
}

h2::first-letter {
  font-size: 2em;
}

.contenedor-presentacion-2 {
  width: 100%;
}

.presentacion-2 {
  text-align: right;
}

/* SKILLS */
/* TECNOLOGIAS */
.contenedor-general-skills,
.contenedor-langs {
  background-color: var(--gris-claro);
}
.lang-text {
  width: 150px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.subcontenedor-general-skills {
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 850px;
}
.tipo-de-tech {
  /* margin: 40px; */
  margin-bottom: 10px;
  font-size: 20px;
  text-align: left;
  text-transform: uppercase;
}
.logo-tech img {
  width: 60px;
}
.leyenda-tech p {
  font-size: 0.8em;
}
.contenedor-flex-techs {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  gap: 30px;
  max-width: 728px;
}
.titulo-tech {
  width: 20%;
}
.tech-front {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
}
.back {
  background-color: #fff;
}
/* SOFT-SKILLS */
.contenedor-general-soft-skills {
  margin: 20px 0;
}
.logo-soft-skills img {
  width: 80px;
}
.contenedor-flex-skills {
  width: 90%;
  margin: 0 auto;
  max-width: 728px;
}
.contenedor-soft-skills {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}
/* IDIOMAS */
.imagen-lang img {
  width: 80px;
}
.contenedor-flex-langs {
  max-width: 728px;
  margin: 0 auto;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.langs {
  width: 50%;
}
/* PORTFOLIO */

.aclaracion-inicial {
  text-align: center;
  font-size: 1em;
  margin-bottom: 40px;
  max-width: 500px;
  margin: 0 auto;
}

.item-portfolio {
  width: 100%;
}

.item-portfolio h3 {
  text-align: center;
  font-family: var(--josefin-sans);
  text-transform: uppercase;
}
.containerAclaracionTPS {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.contenedor-flex-trabajos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.item-trabajo {
  position: relative;
  padding: 5px 0px;
  background-color: var(--gris-claro);
  margin: 20px auto;
  width: 100%;
  box-shadow: 0 0 8px 1px var(--background-dark);
}
.item-trabajo p,
.item-trabajo h5 {
  padding: 0 10px;
}
.final-tarjeta-trabajos {
  position: absolute;
  left: 10px;
  right: 10px;
  margin: auto;
  bottom: 10px;
}

.contenedor-btn-enlace {
  width: 90%;
  text-align: center;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 0;
}

.contenedor-btn-ver-detalles button,
.contenedor-btn-enlace button {
  padding: 5px 10px;
  font-family: var(--montserrat-alternates);
  background-color: var(--silver-metallic);
  color: #fff;
}
.containerTituloTrabajo {
  height: min-content;
}
.container-logos-techs {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container-logos-techs img {
  width: 1px;
}

/* DETALLES FIXED */

.contenedor-fixed-item-trabajo-detalles {
  position: fixed;
  left: -100vh;
  transition: all 0.3s;
}
.item-trabajo-detalles-revelado {
  height: 100%;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--smoky-black-faded);
  backdrop-filter: blur(8px);
  z-index: 500000;
  transition: all 0.3s;
}
.observaciones {
  padding-bottom: 20px;
}

.contenedor-x {
  float: right;
  width: 30px;
  height: 30px;
  background: url(/images/menu-hamburguesa-x.png) no-repeat center;
  background-size: 30px;
  cursor: pointer;
}

.contenedor-flex-detalles-trabajos {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  height: 90%;
  max-height: min-content;
  background-color: var(--gris-claro);
  transition: all 0.4s;
}

.item-trabajo-detalles h5 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1em;
}
.item-trabajo-detalles p {
  margin-bottom: 10px;
}

.titulo-detalles {
  margin-top: 40px;
}

.titulo-trabajo-detalles {
  text-align: center;
}

/* FIN DETALLES FIXED */
.contenedor-logo-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.logo-html-2 {
  background: url(/images/html-logo.png) no-repeat center;
  width: 70px;
  height: 70px;
  background-size: 50px;
}

.logo-css-2 {
  background: url(/images/css-logo.png) no-repeat center;
  width: 70px;
  height: 70px;
  background-size: 50px;
}

.logo-js-2 {
  background: url(/images/js-logo.png) no-repeat center;
  width: 70px;
  height: 70px;
  background-size: 50px;
}

.logo-node-2 {
  background: url(/images/node-js-logo.png) no-repeat center;
  width: 70px;
  height: 70px;
  background-size: 50px;
}

.logo-mongo-2 {
  background: url(/images/mongodb-logo.png) no-repeat center;
  width: 70px;
  height: 70px;
  background-size: 50px;
}

.item-trabajo h5 {
  font-size: 1.1em;
  margin-top: 20px;
  margin-bottom: 0px;
}

.item-trabajo p:not(.click-invitation) {
  margin: 8px 0;
}
.iconoSitioWeb {
  width: 48px;
  height: 48px;
  background: url("../images/imgSitioWeb.png") no-repeat center;
  background-size: 100%;
}
.iconoSitioWebDark {
  background: url("../images/imgSitioWebDark.png") no-repeat center;
  background-size: 100%;
}
.imagen-trabajo {
  width: 90%;
  margin: 3vw auto;
  border-radius: 5px;
}
.imagen-trabajo img {
  width: 100%;
}
.contenedor-techs,
.contenedor-modulos {
  width: 100%;
  display: flex;
  text-align: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding: 10px; */
}

.link-invitation {
  height: 40px;
}

.tr2 {
  background: url(/images/vista-previa-tr1-aydhornosrotativos-v1-1.png)
    no-repeat center;
  background-position: 0 0%;
  background-size: 100%;
  box-shadow: 3px 3px 7px var(--deep-space-sparkle),
    -3px 3px 7px var(--deep-space-sparkle);
}

.pr1 {
  background: url(/images/mercado-natural-kiara.jpg) no-repeat center;
  background-size: 110%;
  box-shadow: 3px 3px 7px var(--emerald), -3px 3px 7px var(--emerald);
}

.pr2 {
  background: url(/images/sin-imagen.jpg) no-repeat center;
  /* background-position: 0 0%; */
  background-size: 110%;
  box-shadow: 3px 3px 7px var(--yellow-minion),
    -3px 3px 7px var(--yellow-minion);
}

.click-invitation {
  margin: 0 auto;
  margin-top: 10px;
  width: 70%;
  text-align: center;
  font-style: italic;
  font-size: 0.9em;
}
.link-invitation {
  text-align: center;
  cursor: pointer;
}

/* CONTACTO */
.contacto {
  background-color: var(--gris-claro);
  padding: 20px;
}
.contenedor-iconos-contacto {
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
}
.opcion-de-contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px 0;
}

.opcion-de-contacto p {
  font-family: var(--montserrat-alternates);
  font-weight: bold;
}
.action {
  width: min-content;
}

.ico {
  margin: 10px 0;
}

.opcion-de-contacto img {
  width: 60px;
  transition: 0.4s;
}

/* FORMULARIO DE CONTACTO */
.form-contacto {
  padding-top: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.item-form {
  margin: 10px 0;
}
.item-form input {
  width: 100%;
  margin-top: 5px;
  height: 30px;
  background-color: var(--gris-claro);
  border: 1px solid var(--silver-metallic);
  transition: 0.5s;
}
.item-form textarea {
  width: 100%;
  margin: 10px 0;
  background-color: var(--gris-claro);
  border: 1px solid var(--silver-metallic);
  resize: none;
}
.containerTextoValidacionName,
.containerTextoValidacionNameExtension,
.containerTextoValidacionTel,
.containerTextoValidacionEmail,
.containerTextoValidacionEmailValido {
  display: none;
}
.containerTextoValidacionName p,
.containerTextoValidacionNameExtension p,
.containerTextoValidacionTel p,
.containerTextoValidacionEmail p,
.containerTextoValidacionEmailValido p {
  animation: error 300ms;
  color: red;
  font-style: italic;
  font-size: 0.8em;
}

.item-form input:focus,
.item-form textarea:focus {
  background-color: #fff;
  transition: 0.7s;
  outline: 1px solid var(--atomic-tangerine);
  box-shadow: 0 0 4px 2px var(--atomic-tangerine);
}

.btns-form {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.error {
  animation: error 300ms;
  outline: 2px red;
}
@keyframes error {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}

/* BTN enviar */
/* From uiverse.io by @adamgiebl */
.btnEnviar {
  font-family: var(--montserrat-alternates);
  border: 1px solid var(--silver-metallic);
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: all 0.2s;
}

.btnEnviar span {
  display: block;
  transition: all 0.3s ease-in-out;
}

.btnEnviar svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}
.btnEnviar:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}
.btnEnviar:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
.btnEnviar:hover span {
  transform: translateX(5em);
}
.btnEnviar:active {
  transform: scale(0.95);
}
@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/*  */

/* RRSS */
.rrss {
  width: 100%;
  height: min-content;
}

.contenedor-logos-rrss {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.logo-facebook {
  width: 40px;
  height: 40px;
  background: url(/images/facebook-logo.png) no-repeat center;
  background-size: 40px;
}

.logo-github {
  width: 40px;
  height: 40px;
  background: url(/images/github-logo.png) no-repeat center;
  background-size: 40px;
}

.logo-linkedin {
  width: 40px;
  height: 40px;
  background: url(/images/linkedin-logo.png) no-repeat center;
  background-size: 40px;
}

.logo-instagram {
  width: 40px;
  height: 40px;
  background: url(/images/instagram-logo.png) no-repeat center;
  background-size: 40px;
}

.logo-facebook,
.logo-github,
.logo-linkedin,
.logo-instagram {
  transition: 1s;
}

.logo-rp-rrss {
  background: url(/images/logoPR-largo-B&N.png) no-repeat center;
  width: 100%;
  max-width: 375px;
  height: 75px;
  background-size: 50%;
  margin: 0 auto;
}

.linea-divisora-footer {
  height: 2px;
  width: 90%;
  background: linear-gradient(to right, #fff0, var(--smoky-black), #fff0);
  margin: 0 auto;
}
.lineaDivisoraFooterDark {
  height: 2px;
  width: 90%;
  background: linear-gradient(
    to right,
    var(--silver-metallic-faded),
    var(--silver-metallic),
    var(--silver-metallic-faded)
  );
  margin: 0 auto;
}

/* FOOTER */

.footer {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.img {
  flex-basis: 35px;
}

.img img {
  width: 35px;
  max-width: 35px;
}

/* Dark classes */
.navbarSMDark {
  background-color: var(--background-dark-faded);
  backdrop-filter: blur(10px);
}
.imgLogoNavbarDark {
  background: url("../images/logoPR-largoDark.png") no-repeat center;
  background-size: 100%;
  transition: 0.3s;
}
.fontDark {
  color: var(--font-dark);
  transition: 0.3s;
}
.fotoPerfilDark {
  background: url(/images/foto-ramiro-dark.png) no-repeat center;
  background-size: cover;
  transition: 0.3s;
}
.BGElementDark {
  background-color: var(--BG-element-dark);
  color: var(--font-dark);
  transition: 0.3s;
}
.BGElementDarkParaNavbar {
  background-color: var(--background-dark-faded);
  color: var(--font-dark);
  transition: 0.3s;
}
.BGElementDarkParaNavbar a {
  color: var(--font-dark);
}
.softSkillsDark {
  color: var(--font-dark);
  transition: 0.3s;
}
.cardDark {
  background-color: var(--BG-element-dark);
  box-shadow: 0 0 8px var(--silver-metallic);
  transition: 0.3s;
}
.cardDarkContacto {
  background-color: var(--BG-element-dark);
  transition: 0.3s;
}
.cardDarkContacto button {
  background-color: var(--btn-dark);
  border: 2px outset var(--border-btn-dark);
  transition: 0.3s;
}
.itemDetalleDark {
  background-color: var(--BG-element-dark);
  transition: 0.3s;
}
.xDark {
  background: url(../images/menu-hamburguesa-x-dark.png) no-repeat center;
  background-size: 30px;
  transition: 0.3s;
}
.lineaDark {
  background: linear-gradient(
    to right,
    var(--silver-metallic-faded),
    var(--silver-metallic),
    var(--silver-metallic-faded)
  );
}
.btnEnviarDark {
  background: var(--background-dark) !important;
  border: 1px solid var(--silver-metallic) !important;
  color: var(--font-dark);
}
.logoFacebookDark {
  background: url(/images/facebook-logo-dark.png) no-repeat center;
  background-size: 40px;
}
.logoGithubDark {
  background: url(/images/github-logo-dark.png) no-repeat center;
  background-size: 40px;
}
.logoLinkedinDark {
  background: url(/images/linkedin-logo-dark.png) no-repeat center;
  background-size: 40px;
}
.logoInstagramDark {
  background: url(/images/instagram-logo-dark.png) no-repeat center;
  background-size: 40px;
}
.logoRPDark {
  background: url(/images/logoPR-largo-B&N-dark.png) no-repeat center;
  background-size: 50%;
}

/* Styles del Swiper */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 80%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
/*  */

/*  */

@media (min-width: 375px) {
  .presentacion-1,
  .presentacion-2 {
    width: 80%;
  }

  .contenedor-presentacion-2 {
    display: flex;
    justify-content: flex-end;
  }
}
@media (orientation: landscape) {
  .contenedor-presentacion-header {
    margin: 30vh auto;
  }
  .contenedor-saludo h1 {
    font-size: 1.2em;
  }
  .contenedor-flex-skills {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contenedor-skills {
    gap: 0;
    width: 270px;
  }
  .contenedor-flex-trabajos {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .item-trabajo {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .contenedor-foto-perfil {
    background-origin: 50%, 0;
  }

  .linea-divisora-2-techs {
    display: none;
  }

  .contenedor-flex-skills {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .contenedor-skills {
    width: 300px;
  }
  .tech-front {
    text-align: center;
    width: initial;
  }
  .contenedor-flex-techs {
    gap: 20px;
    justify-content: space-around;
  }
  .tipo-de-tech {
    margin: 20px;
  }
  .contenedor-flex-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .contenedor-soft-skills {
    width: 40%;
    margin: 0 auto;
  }

  .item-trabajo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
  }
  .contenedor-saludo {
    margin-top: 120px;
  }
  .contenedor-saludo h1 {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .contenedor-navbar,
  .navbar-oculto,
  .nav-bar-oculto-revelado {
    display: none;
  }
  .switch {
    /* --moon-mask: ; */
    position: fixed;
    top: calc(20px + 2vh);
    right: 8vw;
  }
  .separador-secciones {
    width: 100%;
    height: 0px;
  }
  .contenedor-foto-perfil {
    margin-top: 0%;
    width: 100%;
    height: 100vh;
  }
  .contenedor-todo {
    width: 75%;
    float: right;
    clear: both;
  }
  .navbar-lg {
    display: inline-block;
    width: 25%;
    height: 100vh;
  }
  .linea-divisora-navbar {
    width: 70%;
    height: 1px;
    background-color: var(--silver-metallic);
    margin: 20px;
    max-width: 210px;
  }
  .contenedor-navbar-fixed {
    position: fixed;
    top: 0;
    width: calc(25% - 30px);
    height: 100%;
    padding-left: 30px;
    transition: 0.3s;
    max-width: 270px;
  }

  .contenedor-navbar-flex {
    display: block;
    height: 80vh;
    margin-top: 20px;
    max-width: 270px;
  }

  .img-navbar-fixed {
    width: 90%;
    text-align: center;
    max-width: 300px;
  }
  .imgLogoNavbar {
    width: 200px;
    height: 40px;
    margin: 30px 0;
    background: url("../images/logoPR-largo.png") no-repeat center;
    background-size: 100%;
    transition: 0.3s;
  }

  .img-navbar-fixed img {
    width: 200px;
    margin: 30px 0;
  }

  .contenedor-navbar-flex a {
    text-decoration: none;
  }
  .link-navbar-fixed {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-family: var(--josefin-sans);
    padding: 2.5vh 0;
    transition: 0.3s;
  }
  .backgroundHover {
    position: absolute;
    background: var(--fondo-foto) no-repeat center;
    width: 0%;
    height: 55px;
    transition: 0.3s;
    z-index: -1;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .link-navbar-fixed:hover > .backgroundHover {
    width: 100%;
    transition: 0.3s;
  }
  .link-navbar-fixed span {
    margin-left: 5px;
  }
  .marker {
    color: var(--flame);
  }

  .titulo-section {
    height: 10vh;
  }
  .tipo-de-tech {
    margin-top: 20px;
    margin-bottom: 0px;
  }

  .contenedor-flex-about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }
  .aclaracion-inicial {
    font-style: italic;
    width: 60%;
    margin: auto;
    margin-bottom: 40px;
  }
  .llamame:hover {
    filter: drop-shadow(0 10px 5px var(--atomic-tangerine));
    transition: 0.4s;
  }
  .whatsappeame:hover {
    filter: drop-shadow(0 10px 5px var(--atomic-tangerine));
    transition: 0.4s;
  }
  .logo-rrss:hover {
    filter: drop-shadow(0px 4px 3px rgb(88, 88, 88));
    transition: 0.3s;
  }

  /* Dark classes */

  .imgLogoNavbarDark {
    background: url("../images/logoPR-largoDark.png") no-repeat center;
    background-size: 100%;
    transition: 0.3s;
  }
  .backgroundHoverDark {
    background: var(--background-hover-dark);
    transition: 0.3s;
  }
  .markerDark {
    color: var(--marker-dark);
    transition: 0.3s;
  }
  .fontDark {
    color: var(--font-dark);
    transition: 0.3s;
  }

  /*  */
}
/* Download BTN */
.container-btn-download {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
/* From uiverse.io by @adamgiebl */
/* From uiverse.io by @barisdogansutcu */
.download-button {
  cursor: pointer;
  position: relative;
  border-width: 0;
  color: var(--fondo-foto);
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  z-index: 1;
  transition: 0.5s;
  box-shadow: 0 0 10px var(--background-dark);
  text-shadow: 0 0 3px var(--background-dark);
}

.docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #242a35;
  border: solid 1px #e8e8e82d;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.docsDark {
  background-color: var(--btn-dark);
  border: 1px solid var(--border-btn-dark);
  box-shadow: 0 0 10px var(--gris-claro);
  text-shadow: 0 0 3px var(--background-dark);
}

.download {
  color: #fff;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 4px;
  transform: translateY(0%);
  background-color: var(--atomic-tangerine);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
.downloadDark {
  background-color: var(--atomic-tangerine-faded);
}

.download-button:hover .download {
  transform: translateY(90%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
/*  */
